-- Encoding = Unicode £ € 
--Generated: 2025-11-18 15:12:33     target: Microsoft SQL Server
IF OBJECT_ID('PlanningData', 'U') IS NOT NULL   DROP TABLE PlanningData ; 
Create Table PlanningData(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		Author                          Nvarchar(255),
		ShortName                       Nvarchar(255),
		LongName                        Nvarchar(255),
		ShortFileName                   Nvarchar(255),
		LongFileName                    Nvarchar(255),
		ReportDate                      Datetime,
		CurrentUserName                 Nvarchar(255),
		CurrentBaselineID               Int
);
IF OBJECT_ID('Project', 'U') IS NOT NULL   DROP TABLE Project ; 
Create Table Project(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		ID                              Int Not Null,
		Name                            Nvarchar(255),
		ShortName                       Nvarchar(255),
		LongName                        Nvarchar(255),
		ShortFileName                   Nvarchar(255),
		LongFileName                    Nvarchar(255),
		ProjectName                     Nvarchar(255),
		ProjectFullName                 Nvarchar(255)
);
IF OBJECT_ID('ProgressPeriod', 'U') IS NOT NULL   DROP TABLE ProgressPeriod ; 
Create Table ProgressPeriod(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		Name                            Nvarchar(255),
		PathName                        Nvarchar(255),
		FullName                        Nvarchar(255),
		Reportdate                      Datetime
);
IF OBJECT_ID('CodeLibrary', 'U') IS NOT NULL   DROP TABLE CodeLibrary ; 
Create Table CodeLibrary(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		Name                            Nvarchar(64),
		SingleSelect                    Int
);
IF OBJECT_ID('CodeLibraryEntry', 'U') IS NOT NULL   DROP TABLE CodeLibraryEntry ; 
Create Table CodeLibraryEntry(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		Name                            Nvarchar(64),
		Lineage                         Nvarchar(255) Not Null,
		OrderString                     Nvarchar(255) Not Null,
		ShortName                       Nvarchar(255) Not Null,
		PathName                        Nvarchar(255) Not Null,
		FullName                        Nvarchar(255) Not Null,
		ParentName                      Nvarchar(255) Not Null,
		LibraryName                     Nvarchar(255) Not Null,
		LibraryID                       Int,
		SortOrder                       Int Not Null
);
IF OBJECT_ID('Expanded', 'U') IS NOT NULL   DROP TABLE Expanded ; 
Create Table Expanded(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		ProjectID                       Int Not Null,
		Name                            Nvarchar(255),
		PathName                        Nvarchar(255),
		ParentContainer                 Int,
		Lineage                         Nvarchar(255),
		Type                            Nvarchar(255),
		TaskOID                         Int,
		BarID                           Int,
		BarNaturalOrder                 Int,
		NaturalOrder                    Int,
		UniqueTaskID                    Nvarchar(40),
		Notes                           Nvarchar(2000),
		StartDate                       Datetime,
		Finish                          Datetime,
		DurationDays                    Float,
		DurationHours                   Float,
		ActualStart                     Datetime,
		ActualFinish                    Datetime,
		BaselineStart                   Datetime,
		BaselineFinish                  Datetime,
		PercentComplete                 Float,
		CalendarId                      Int,
		Calendar                        Nvarchar(255),
		DurationPercentComplete         Float,
		PlannedPercentComplete          Float,
		OverallPercentComplete          Float,
		TotalFloat                      Float,
		OriginalDuration                Float,
		ConstraintFlag                  Nvarchar(255),
		Predecessors                    Nvarchar(255),
		Successors                      Nvarchar(255),
		Critical                        Int,
		NearlyCritical                  Int,
		LongestPath                     Int,
		EarlyStart                      Datetime,
		EarlyFinish                     Datetime,
		LateStart                       Datetime,
		LateFinish                      Datetime,
		BaselineEarlyStart              Datetime,
		BaselineEarlyFinish             Datetime,
		BaselineLateStart               Datetime,
		BaselineLateFinish              Datetime,
		BaselineEffort                  Float
);
IF OBJECT_ID('Bar', 'U') IS NOT NULL   DROP TABLE Bar ; 
Create Table Bar(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		ProjectID                       Int Not Null,
		PathName                        Nvarchar(255),
		Name                            Nvarchar(255),
		Lineage                         Nvarchar(255),
		ParentName                      Nvarchar(255),
		ParentId                        Int,
		BarNaturalOrder                 Int,
		NaturalOrder                    Int,
		StartDate                       Datetime,
		Finish                          Datetime,
		ActualStart                     Datetime,
		ActualFinish                    Datetime,
		BaselineStart                   Datetime,
		BaselineFinish                  Datetime,
		PercentComplete                 Float,
		DurationPercentComplete         Float,
		BaselineEarlyStart              Datetime,
		BaselineEarlyFinish             Datetime,
		BaselineLateStart               Datetime,
		BaselineLateFinish              Datetime
);
IF OBJECT_ID('Milestone', 'U') IS NOT NULL   DROP TABLE Milestone ; 
Create Table Milestone(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		ProjectID                       Int Not Null,
		PathName                        Nvarchar(255),
		ParentContainer                 Int,
		Lineage                         Nvarchar(255),
		Name                            Nvarchar(255),
		Notes                           Nvarchar(2000),
		Type                            Nvarchar(255),
		TaskOID                         Int,
		BarID                           Int,
		BarNaturalOrder                 Int,
		NaturalOrder                    Int,
		UniqueTaskID                    Nvarchar(40),
		StartDate                       Datetime,
		Finish                          Datetime,
		DurationHours                   Float,
		DurationDays                    Float,
		CalendarId                      Int,
		Calendar                        Nvarchar(255),
		DurationPercentComplete         Float,
		ActualStart                     Datetime,
		ActualFinish                    Datetime,
		PercentComplete                 Float,
		BaselineStart                   Datetime,
		BaselineFinish                  Datetime,
		Critical                        Int,
		EarlyStart                      Datetime,
		EarlyFinish                     Datetime,
		TotalFloat                      Float,
		OriginalDuration                Float,
		LongestPath                     Int,
		NearlyCritical                  Int,
		OverallPercentComplete          Float,
		Predecessors                    Nvarchar(255),
		Successors                      Nvarchar(255),
		ConstraintFlag                  Nvarchar(255),
		PlannedPercentComplete          Float,
		OriginalStart                   Datetime,
		OriginalFinish                  Datetime,
		LateStart                       Datetime,
		LateFinish                      Datetime,
		BaselineEarlyStart              Datetime,
		BaselineEarlyFinish             Datetime,
		BaselineLateStart               Datetime,
		BaselineLateFinish              Datetime,
		BaselineEffort                  Float,
		BufferTask                      Int
);
IF OBJECT_ID('TaskCompletedSection', 'U') IS NOT NULL   DROP TABLE TaskCompletedSection ; 
Create Table TaskCompletedSection(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		ID                              Int Not Null,
		ProjectID                       Int Not Null,
		Parent                          Int,
		ParentName                      Nvarchar(255),
		PeriodID                        Int,
		ActStart                        Datetime,
		ActFinish                       Datetime,
		OPC                             Float
);
IF OBJECT_ID('TaskDurationSlice', 'U') IS NOT NULL   DROP TABLE TaskDurationSlice ; 
Create Table TaskDurationSlice(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		StartDate                       Datetime,
		FinishDate                      Datetime,
		TimephaseStart                  Datetime,
		TimephaseEnd                    Datetime,
		LiveDuration                    Float,
		PlannedDuration                 Float,
		ActualDuration                  Float,
		PseudoEarnedDuration            Float,
		PPC                             Float
);
IF OBJECT_ID('Task', 'U') IS NOT NULL   DROP TABLE Task ; 
Create Table Task(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		ProjectID                       Int Not Null,
		PathName                        Nvarchar(255),
		ParentContainer                 Int,
		Lineage                         Nvarchar(255),
		Name                            Nvarchar(255),
		BaselineStart                   Datetime,
		BaselineFinish                  Datetime,
		PlannedPercentComplete          Float,
		OriginalStart                   Datetime,
		OriginalFinish                  Datetime,
		Notes                           Nvarchar(2000),
		Type                            Nvarchar(255),
		TaskOID                         Int,
		BarID                           Int,
		BarNaturalOrder                 Int,
		NaturalOrder                    Int,
		UniqueTaskID                    Nvarchar(40),
		Critical                        Int,
		EarlyStart                      Datetime,
		EarlyFinish                     Datetime,
		LateStart                       Datetime,
		LateFinish                      Datetime,
		TotalFloat                      Float,
		OriginalDuration                Float,
		LongestPath                     Int,
		NearlyCritical                  Int,
		StartDate                       Datetime,
		Finish                          Datetime,
		DurationHours                   Float,
		DurationDays                    Float,
		CalendarId                      Int,
		Calendar                        Nvarchar(255),
		DurationPercentComplete         Float,
		ActualStart                     Datetime,
		ActualFinish                    Datetime,
		PercentComplete                 Float,
		OverallPercentComplete          Float,
		Predecessors                    Nvarchar(255),
		Successors                      Nvarchar(255),
		ConstraintFlag                  Nvarchar(255),
		BaselineEarlyStart              Datetime,
		BaselineEarlyFinish             Datetime,
		BaselineLateStart               Datetime,
		BaselineLateFinish              Datetime,
		BaselineEffort                  Float,
		BufferTask                      Int
);
IF OBJECT_ID('AllAssignedCodes', 'U') IS NOT NULL   DROP TABLE AllAssignedCodes ; 
Create Table AllAssignedCodes(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		ID                              Int Not Null,
		Allcodes                        Nvarchar(4000),
		ObjectType                      Nvarchar(255)
);
IF OBJECT_ID('Bsln', 'U') IS NOT NULL   DROP TABLE Bsln ; 
Create Table Bsln(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineIDNumber                Int Not Null,
		ObjectID                        Int Not Null,
		Name                            Nvarchar(255),
		PathName                        Nvarchar(255),
		BaselineProjectId               Int,
		Active                          Int,
		CreationDate                    Datetime,
		LastEditedDate                  Datetime
);
IF OBJECT_ID('Link', 'U') IS NOT NULL   DROP TABLE Link ; 
Create Table Link(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		ID                              Int Not Null,
		ShortName                       Nvarchar(255),
		LongName                        Nvarchar(255),
		ShortFileName                   Nvarchar(255),
		LongFileName                    Nvarchar(255),
		StartID                         Int,
		StartFullName                   Nvarchar(255),
		StartUTID                       Nvarchar(40),
		EndID                           Int,
		EndFullName                     Nvarchar(255),
		EndUTID                         Nvarchar(40),
		Type                            Nvarchar(255),
		Category                        Nvarchar(20),
		Slope                           Float,
		TotalLeadLag                    Float,
		StartLeadLag                    Float,
		EndLeadLag                      Float,
		Comments                        Nvarchar(500),
		Unschedulable                   Int,
		Driving                         Int,
		Complete                        Int,
		Critical                        Int,
		OnLoop                          Int,
		LongestPath                     Int
);
IF OBJECT_ID('AllocationTimephased', 'U') IS NOT NULL   DROP TABLE AllocationTimephased ; 
Create Table AllocationTimephased(
		RunDate                         Datetime,
		RunNumber                       Int,
		PlanningDataID                  Uniqueidentifier Not Null,
		PlanningDataVersion             Int Not Null,
		BaselineID                      Int Not Null,
		TimephaseStart                  Datetime,
		TimephaseEnd                    Datetime,
		ID                              Int Not Null,
		ResourceName                    Nvarchar(255),
		ResourceFullName                Nvarchar(255),
		UniqueTaskID                    Nvarchar(40),
		ActivityID                      Int Not Null,
		BaselineEffort                  Float,
		Effort                          Float,
		ActualEffort                    Float
);

IF OBJECT_ID('ControlInfo', 'U') IS NOT NULL   DROP TABLE ControlInfo ; 
Create Table ControlInfo (ModelComment Nvarchar(256),SchemaGenerated Datetime,RunNumber Int,RunDate Datetime);

GO

Insert Into ControlInfo (ModelComment, SchemaGenerated) Values (
'Custom model for Acumine, revised on 19th September 2025',
'2025-11-18 15:12:33'
);

IF OBJECT_ID('BITable', 'U') IS NOT NULL   DROP TABLE BITable ; 
Create Table BITable (name Nvarchar(64),tableseq Int,apptype Nvarchar(64),appfilter Nvarchar(max),timephase Nvarchar(64),alludfs Int);
IF OBJECT_ID('BIField', 'U') IS NOT NULL   DROP TABLE BIField ; 
Create Table BIField (appdatatype Nvarchar(64),dbname Nvarchar(64),tableseq Int,fieldseq Int,odbctype Nvarchar(64),generator Nvarchar(64),parameter Nvarchar(max),timephase Nvarchar(64),nullable Int);

GO

Set NoCount On
Insert Into BITable (name, tableseq, apptype, appfilter, timephase, alludfs) Values ('PlanningData',0,'projectsummary','','',0);
Insert Into BIField (appdatatype, dbname, tableseq, fieldseq, odbctype, generator, parameter, timephase, nullable) Values ('DATE_AND_TIME_TYPE','RunDate',0,0,'SQL_TIME','special','Run date','',1);
Insert Into BIField (appdatatype, dbname, tableseq, fieldseq, odbctype, generator, parameter, timephase, nullable) Values ('INT32_TYPE','RunNumber',0,1,'SQL_INTEGER','special','Run number','',1);
Insert Into BIField (appdatatype, dbname, tableseq, fieldseq, odbctype, generator, parameter, timephase, nullable) Values ('STRING_TYPE','PlanningDataID',0,2,'SQL_GUID','psfield','projectguid','',0);
Insert Into BITable (name, tableseq, apptype, appfilter, timephase, alludfs) Values ('Project',1,'expandedtask','isproject = ''TRUE''','',0);
Insert Into BITable (name, tableseq, apptype, appfilter, timephase, alludfs) Values ('ProgressPeriod',2,'progressperiod','','',0);

Set NoCount Off
